html {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fcfcff;
}

body {
    font-family: "Manjari", sans-serif;
}

header {
    width: 100%;
    height: 95px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: rgb(107,107,131);
    opacity: 0.8;
}


.nav_bar {
    text-align: center;
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#logo {
    width: 20%;
    float: left;
    opacity: 1;
    margin-left: 25px;
}

#user {
    width: 15%;
    float: right;
    margin-right: 55px;
    opacity: 1;
}

ul {
    list-style-type: none;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

ul li {
    display: inline;
    padding: 15px;
    
}

a {
    text-decoration: none;
    color:#fcfcff;
    margin-left: 35px;
    font-size: 28px;
}

a:hover {
    color:#fb5b5b;  
}


/* Image carousel */
#myCarousel {
    position: absolute;
    width: 100%;
    top: 0;
}

.carousel-item {
    height: 45rem;
    background-color: black;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
} 

.overlay-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.btn-primary {
    background-color: gray;
    opacity: 0.5;
    border: none;
} 

.carousel-indicators {
    position: absolute;
    bottom: 30px;
    overflow:hidden;
}

/*Footer */
.footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(107,107,131);
    color: white;
}

#social_media_logo {
    float: left;
    width: 5%;
    padding: 15px;
}

#rights {
    float: right;
    padding: 15px;
}